{% extends "base.html" %}
{% block content %}
        <h4>Water Intake Calculator</h4>
        <form id="water-intake-form" action="/project1/" method="POST">
            <div class="mb-3">
                <label for="weight" class="form-label">Weight (lbs):</label>
                <input type="number" class="form-control" id="weight" name="weight" required>
            </div>
            <div class="mb-3">
                <label for="activity_level" class="form-label">Activity Level:</label>
                <select class="form-control" id="activity_level" name="activity_level">
                    <option value="sedentary">Sedentary</option>
                    <option value="light">Light</option>
                    <option value="moderate">Moderate</option>
                    <option value="active">Active</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="temperature" class="form-label">Temperature (°F):</label>
                <input type="number" class="form-control" id="temperature" name="temperature" required>
            </div>
            <button type="submit" class="btn btn-success">Calculate</button>
        </form>
{% endblock %}
